#Python
.venv/
__pycache__/
*.pyc
.vscode/
#Docker
.devcontainer/
#Terraform
Terraform/*/terraform.exe
Terraform/*/.terraform.lock.hcl
Terraform/*/terraform.tfstate
Terraform/*/.terraform/providers/*
#Python test data
Python/test_data/*